extends layout.pug

block content
  main(role='main')
      .jumbotron
        .container
          h1 #{title}
          p
            | With Microsoft 365, Office 365, and Teams, keep your venture, be it Education or Business or Nonprofit, moving securely from anywhere anytime, and on any device
          p
            a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
      .container
        .row
          .col-md-4
            h2 Microsoft 365
            p
              | Grow and strengthen your business with best-in-class cloud-based productivity tools in a secure and intelligent way. Our custom solutions will cover your unmet business needs.
              a.btn.btn-secondary(href='#', role='button') View details »
          .col-md-4
            h2 Azure Services
            p
              | If you are looking for transforming your business into modern workplace or migrating it to cloud or securing it from threats, we are your go-to tech partner.
            p
              a.btn.btn-secondary(href='#', role='button') View details »
          .col-md-4
            h2 Manage IT Issues
            p
              | Our fully outsourced managed service offering includes helpdesk, onsite support, updates management, security and usage monitoring, and ongoing maintenance.
            p
              a.btn.btn-secondary(href='#', role='button') View details »